<div *ngIf="product.details.title" class="card">
  <img
    *ngIf="product.details.url"
    class="card-img-top"
    src="{{ product.details.url }}"
    alt="{{ product.details.title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.details.title }}</h5>
    <p class="card-text">
      {{ product.details.price | currency: "EGP":"code" }}
    </p>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
      <button
        *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
        (click)="addToCart()"
        class="btn btn-secondary btn-block"
      >
        Add to Cart
      </button>
      <ng-template #updateQuantity>
        <product-quantity
          [product]="product"
          [shopping-cart]="shoppingCart"
        ></product-quantity>
      </ng-template>
    </div>
  </div>
</div>
