<div *ngIf="product[1].title" class="card">
  <img
    *ngIf="product[1].url"
    class="card-img-top"
    src="{{ product[1].url }}"
    alt="{{ product[1].title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product[1].title }}</h5>
    <p class="card-text">
      {{ product[1].price | currency: "EGP":"code" }}
    </p>
    <div class="card-footer">
      <button
        *ngIf="showActions"
        (click)="addToCart(product)"
        class="btn btn-primary btn-block"
      >
        Add to Cart
      </button>
    </div>
  </div>
</div>
