<p>
  <a routerLink="/admin/products/new" class="btn btn-primary"> New Product </a>
</p>
<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover table"
>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{ p[1].title }}</td>
      <td>{{ p[1].price | currency: "EGP":"code" }}</td>
      <td><a [routerLink]="['/admin/products/', p[0]]">Edit</a></td>
    </tr>
  </tbody>
</table>
